<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Perguntas</title>
</head>
<body>
    <h1>Gia perguntas</h1>
    <h1><%= nome %></h1>
    <h2><%= lang %></h2>
</body>
</html>